@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/* ---------------------------- */
.calc {
  background-color: #f4fafa;
  padding: 1.5em 5%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 0 10%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* inputs actives */
  /* ------------------ */
  /* button */
}
.calc__first {
  height: 100%;
  display: grid;
  grid-template: repeat(4, -webkit-max-content)/max-content;
  grid-template: repeat(4, max-content)/max-content;
  gap: 0.6em;
}
.calc__input-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calc__input, .calc__select, .calc__btn {
  border-radius: 50px;
  border: 1px solid #444;
  height: 1.75em;
  padding: 0 0.7em;
}
.calc__input:focus, .calc__select:focus, .calc__btn:focus {
  outline: none;
}
.calc__select {
  background-color: white;
}
.calc__input:focus, .calc__select:focus {
  border: 1px solid #26c0ab;
  background-color: #f4fafa;
}
.calc__input:hover, .calc__select:focus {
  background-color: #f4fafa;
}
.calc__input::-webkit-outer-spin-button, .calc__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.calc__input {
  -moz-appearance: textfield;
}
.calc__btn-section {
  grid-column: 1/3;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}
.calc__btn {
  width: 50%;
  height: 2em;
  background-color: #00494d;
  color: #f4fafa;
  border: none;
  cursor: pointer;
}
.calc__btn:hover {
  background-color: #26c0ab;
}
.calc__btn:focus {
  -webkit-box-shadow: 3px 3px 5px #c5e4e7;
          box-shadow: 3px 3px 5px #c5e4e7;
  background-color: #05585c;
}

/* mediaquerys */
@media screen and (max-width: 650px) {
  .calc {
    padding: 1.5em 10%;
  }
  .calc__input, .calc__select, .calc__btn {
    height: 2.5em;
  }
  .calc__btn {
    width: 80%;
  }
}