@use '../base/mixvars' as *;


main {
    margin-top: 5em;
    margin-bottom: 5em;
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 3em;
    padding: 0 3em;

    font-family: $monserrate;
}

.aside {
    min-width: max-content;
    height: max-content;
    padding-bottom: 1rem;

    background-color: $lightSeeGreen;
    color: $darkGrayBlue;

    @include flex(column, space-between);
    
    position: sticky;
    top: 4em;

    &__title {
        font-size: 1.4em; 
        font-family: $noto-serif;
        margin: 1rem;
    }

    &__li {
        line-height: 1.5;
        padding: 0 1rem;

        &:hover {
            background-color: $lsgLess;
        }
    }

    &__link {
        display: block;
        color: $darkGrayGreen;
        transition: transform 300ms;
        font-family: $monserrate;

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            right: 10%;
            margin-left: 1em;
            transition: transform 300ms;
        }
    }
    
}


/* THE BLOG */
.blog {
    &__title {
        font-weight: 400;
        margin: 1.7em 0 .5em;
        font-family: $noto-serif;
    }

    &__date {
        margin-bottom: 2em;
        color: $darkGrayBlue;
        font-size: .9em;
        font-weight: 700;
    }
}

@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }

    .aside {position: static;}
}