/* === utility clases === */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === variables === */
:root {
    --white: #f0fff1;
    --darknessGreen: #031100;
    --darkGreen: #0b3100;
    --lightLime: #8cff69;
    --greenGray: #304431;
    --lightBlue: #a0cde9;
}


body {
    height: 100vh;
    max-height: 100vh;
    background-color: var(--white);
    padding-left: 2em;
    padding-right: 2em;
    color: var(--darknessGreen);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__description {width: 30em;}

/* CLICK ZONE */
.main__zone-to-click {
    width: 70vw;
    height: 60vh;
    background-color: var(--lightLime);
    border: 2px solid var(--greenGray);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__zone-to-click:active {transform: scale(.99);} 

.main__stattement {
    user-select: none;
    color: var(--darkGreen);
}

.main__result {
    height: 2em;
    margin-top: 1em;
    border-radius: 5px;
    background-color: #abf1b4;
    color: var(--darkGreen);
    gap: 10%;
}

/* FOOTER */
.footer {
    display: block;
    width: 100%;
}

.footer__container {
    width: 100%;
    height: 30px;
    background-color: var(--lightBlue);
    border-radius: 5px 5px 0 0;
    font-size: 13px;
}

.footer__description {
    margin-right: 1em;
    color: var(--gray);
}

.footer__copyright-icon {
    font-size: 13px;
    color: var(--greenGray);
}

/* === Modal === */
.modal {
    width: 100vw; height: 100vh;
    position: absolute;
    background-color: transparent;

    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);

    transition: visibility 10ms, opacity 10ms, transform 10ms;
}

.modal[data-window="visible"] {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.modal::before {
    content: '';
    display: block;
    width: 100%; height: 100%;
    position: absolute;
    z-index: 1;

    background-color: var(--lightBlue);
    opacity: 0.5;
    filter: blur(10px);
}

.modal__contain {
    width: 30vw; height: max-content;
    text-align: center;
    background-color: var(--white);
    border-radius: 5px;   
    border: 1px solid var(--darknessGreen);
    padding: 1em;
    flex-direction: column;
    gap: 1em;
    padding: relative;
    z-index: 10;
}

.modal__score b {
    color: var(--darkGreen);
    font-size: 2em;
}

#confirmScore {
    cursor: pointer;
    padding: .5em 1em;
    background-color: var(--lightLime);
    border: 1px solid var(--darkGreen);
    transition: transform 10ms;
}

#confirmScore:active {transform: scale(0.9);}