:root {
    --paleBlue: hsl(243, 100%, 93%);
    --grayishBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 56%, 26%);
    --veryDarkBlue: hsl(229, 57%, 11%);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-image: url(images/bg-desktop.png);
    background-color: var(--veryDarkBlue);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ---------------- */
/* firs part */

.part1 {
    background-color: var(--darkBlue);
    grid-column: 2 / 3;
    width: 300px;
    height: 170px;
    padding: 40px 40px 30px 30px;
    border-radius: 10px 100px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part1 .logo {
    width: 130px;
}

.part1__bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.part1__bottom .item {
    width: 40px;
    height: 40px;
    background-color: var(--veryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

/* ------------------ */
/* second Part of this */

.part2 {
    background-color: var(--darkBlue);
    grid-column: 3 / 5;
    height: 150px;
    border-radius: 10px;
    padding: 30px;
    color: #eee;
    font-size: 13.4px;
    font-weight: 100;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.part2 .barContainer {
    height: 20px;
    background-color: var(--veryDarkBlue);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-left: 3px;
}

.barContainer .progressBar {
    width: 60%;
    height: 60%;
    background-image: linear-gradient(90deg,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 50px;
    position: relative;
}

.progressBar::before {
    width: 10.5px;
    height: 10.5px;
    content: '';
    display: inline-block;
    position: absolute;
    clip-path: circle(50%);
    background-color: var(--paleBlue);
    z-index: 100;
    top: .5px;
    right: 2px; 
}

.part2 b {
    font-weight: 900;
    font-size: 14px;
}


.part2__GB {
    display: flex;
    justify-content: space-between;
}

.part2__GB p {
    font-weight: 700;
}


.part2 .message {
    width: 150px;
    height: 60px;
    background-color: var(--paleBlue);
    position: absolute;
    top: -40px;
    right: 30px;
    border-radius: 10px 10px 0px;
    color: #888;
    font-weight: 900;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5px;
}

.message::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--paleBlue);
    clip-path: polygon(0 0, 30px 0, 30px 30px, 0 0);
    position: absolute;
    top: 60px;
    right: 0;
}

.message p {
    font-size: 14px;
}

.message b {
    font-size: 30px;
    color: var(--veryDarkBlue);

}