:root {
    --darkCyan:  hsl(185, 75%, 39%);
    --veryDarkBlue: hsl(229, 23%, 23%);
    --darkGray: hsl(0, 0%, 59%); /* this is for the _26_ */   
    --darkBlue: hsl(227, 10%, 46%);
}

body {
    background-color: var(--darkCyan);
    user-select: none;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--veryDarkBlue);
}

svg:not(:root) {
    overflow: hidden;
}

/* the circles of the background */
.img-top, 
.img-bottom {
    width: 950px;
    position: fixed;
    z-index: -100;
    max-width: 60%;
}

.img-top {
    top: 0vh;
    left: 0vw;
}

.img-bottom {
    bottom: -50vh;
    right: 0vw;
}
/* -------------------------------- */

.cardContainer {
    width: 350px;
    height: 375px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    background: white url(images/bg-pattern-card.svg) no-repeat;
    box-shadow: 0 40px 60px 10px rgba(45, 50, 72, 0.459);
    position: relative;
    top: 200px;
}

.victor-img {
    position: relative;
    top: 90px;
    border-radius: 50%;
}

/* is the circle behind the victor img  */
.sphere {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 22%;
    margin: 0 34.2857%;
}

/* ------------------------------------- */

.bio__h1 {
    padding: 5em 0 0 0;
    font-size: 20px;
}

em {
    color: var(--darkBlue);
}

.bio__h2 {
    font-size: 16px;
    color: var(--darkBlue);
}

/* info part */

.info {
    width: 350px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #b8b8b8;
    display: flex;
    justify-content: space-evenly;
}