@mixin flex ($direction: row, $js-c: stretch, $al-it: stretch, $gap: 0) {
   display: flex;
   flex-direction: $direction;
   justify-content: $js-c;
   align-items: $al-it;
   gap: $gap;
}

@mixin before ($w, $h, $position: absolute) {
   content: '';
   display: block;
   width: $w; height: $h;
   position: $position;
}