// font 
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$spaceMono: 'Space Mono', monospace;

// ## Colors

// ### Primary

    $strongCyan: hsl(172, 67%, 45%);

// ### Neutral

    $veryDarkCyan: hsl(183, 100%, 15%);
    $veryDarkCyan2: hsl(183, 90%, 19%);
    $darkGrayishCyan2: hsl(186, 14%, 43%);
    $darkGrayishCyan1: hsl(184, 14%, 56%);
    $lightGrayishCyan2: hsl(185, 41%, 84%);
    $lightGrayishCyan1: hsl(189, 41%, 97%);
    $white: hsl(0, 0%, 100%);


//extra
$r: 10px;
$r2: 50px;